---
- name: Ensure caddy_config_dir exists with correct permissions
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ caddy_user }}"
    group: "{{ caddy_group }}"
    mode: 0755
  loop:
    - "{{ caddy_config_dir }}"
    - "{{ caddy_config_dir }}/config"
    - "{{ caddy_config_dir }}/data"

- name: Copy Caddy Dockerfile to build location
  ansible.builtin.copy:
    src: Dockerfile.caddy
    dest: "{{ caddy_config_dir }}/Dockerfile.caddy"
    owner: "{{ caddy_user }}"
    group: "{{ caddy_group }}"
    mode: 0644

- name: Copy build script to VPS
  ansible.builtin.copy:
    src: build_caddy_image.sh
    dest: "{{ caddy_config_dir}}/build_caddy_image.sh"
    owner: "{{ caddy_user }}"
    group: "{{ caddy_user }}"
    mode: '0755'

