[Unit]
Description=Caddy server in Podman with socket activation
Requires={{ caddy_service_name }}.socket
After={{ caddy_service_name }}.socket

[Service]
User={{ caddy_user }}
Group={{ caddy_group }}
ExecStart=/usr/bin/podman run --rm --replace --name {{ caddy_service_name }} \
  -v {{ caddy_config_dir }}/Caddyfile:/etc/caddy/Caddyfile:ro \
  -v {{ caddy_config_dir }}/data:/data \
  -v {{ caddy_config_dir }}/config:/config \
  --network=host \
  {{ caddy_image }} run --config /etc/caddy/Caddyfile --adapter caddyfile \
  -listen fd://3 -listen fd://4 -listen fdgram://5
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target

