[Unit]
Description=Caddy HTTP/HTTPS Socket with systemd socket activation
Requires=network.target
After=network.target

[Socket]
ListenStream=80
ListenStream=443
ListenDatagram=443
SocketUser={{ caddy_user }}
SocketGroup={{ caddy_group }}

[Install]
WantedBy=sockets.target

