# Fail2ban unattended-upgrades configuration - managed by ansible template
// Automatically upgrade packages from these origins
Unattended-Upgrade::Allowed-Origins {
    \"${distro_id}:${distro_codename}\",
    \"${distro_id}:${distro_codename}-security\",
};
// Automatically reboot if required
Unattended-Upgrade::Automatic-Reboot \"true\";
// Send email to root on upgrades
Unattended-Upgrade::Mail \"root\";
// Remove unused dependencies
Unattended-Upgrade::Remove-Unused-Dependencies \"true\";

